Challenge II/Home_Challenge_2_Node-RED.json
[{"id":"c01397ad.945d2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69296e81.8f1c98","type":"inject","z":"c01397ad.945d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["d1cb04cd.f893a8"]]},{"id":"c00b7313.f7df9","type":"mqtt out","z":"c01397ad.945d2","name":"","topic":"channels/1359665/publish/fields/field1/1BFSSD9R8P32X2HI","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"21836fea.c1d9e8","x":1540,"y":180,"wires":[]},{"id":"902c816d.b7f23","type":"switch","z":"c01397ad.945d2","name":"Publish Message Selector","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish Message [factory/department1/section1/plc]","vt":"str"},{"t":"cont","v":"Publish Message [factory/department3/section3/plc]","vt":"str"},{"t":"cont","v":"Publish Message [factory/department1/section1/hydraulic_valve]","vt":"str"},{"t":"cont","v":"Publish Message [factory/department3/section3/hydraulic_valve]","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":280,"wires":[["5441ff0f.1657b8"],["5441ff0f.1657b8"],["fd084d1.6584b3"],["fd084d1.6584b3"]]},{"id":"b941d22f.939bf8","type":"mqtt out","z":"c01397ad.945d2","name":"","topic":"channels/1359665/publish/fields/field2/1BFSSD9R8P32X2HI","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"21836fea.c1d9e8","x":1540,"y":380,"wires":[]},{"id":"22be1ae5.efd77e","type":"debug","z":"c01397ad.945d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":440,"wires":[]},{"id":"ac4c5d2c.48031","type":"debug","z":"c01397ad.945d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":120,"wires":[]},{"id":"d1cb04cd.f893a8","type":"file in","z":"c01397ad.945d2","name":"","filename":"/Users/LC98/Desktop/PoliMI/2_2/IoT/HWs/HW2/traffic.csv","format":"lines","chunk":false,"sendError":false,"encoding":"macintosh","x":280,"y":140,"wires":[["902c816d.b7f23"]]},{"id":"bfe11698.30f618","type":"function","z":"c01397ad.945d2","name":"Value Extractor: PLC","func":"// assuring a non-empty string\nif (msg.payload.length>0){\n\n//substring isolation: hexadecimal value\nmsg.payload = msg.payload.substring(msg.payload.search(\"76616c7565223a20\") + 16, msg.payload.search(\"2c20226c6174223a\"));\n\n//conversion from hexadecimal to decimal\nvar value_dec = \"\";\nfor (var i=0; i<msg.payload.length; i+=2){\n    value_dec += String.fromCharCode(parseInt(msg.payload.substr(i, 2), 16));\n\n    \n}\n\n//message topic definition\nmsg.payload = value_dec;\nmsg.topic = \"factory/all_departments/plc\";\nreturn msg;\n\n}\n\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":20,"wires":[["dd2cdc3a.23c238"]]},{"id":"b5f006a9.178e28","type":"function","z":"c01397ad.945d2","name":"Value Extractor: HV","func":"// assuring a non-empty string\nif (msg.payload.length>0){\n\n//substring isolation: hexadecimal value\nmsg.payload = msg.payload.substring(msg.payload.search(\"76616c7565223a20\")  + 16, msg.payload.search(\"2c20226c6174223a\"));\n\n//conversion from hexadecimal to decimal\nvar value_dec = \"\";\nfor (var i=0; i<msg.payload.length; i+=2){\n    value_dec += String.fromCharCode(parseInt(msg.payload.substr(i, 2), 16));\n\n    \n}\n\n//message topic definition\nmsg.payload = value_dec;\nmsg.topic = \"factory/all_departments/hydraulic_valve\";\nreturn msg;\n\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":560,"wires":[["dd2cdc3a.23c238"]]},{"id":"dd2cdc3a.23c238","type":"delay","z":"c01397ad.945d2","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":280,"wires":[["246c264e.e36d62"]]},{"id":"246c264e.e36d62","type":"switch","z":"c01397ad.945d2","name":"Topic Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factory/all_departments/plc","vt":"str"},{"t":"eq","v":"factory/all_departments/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":280,"wires":[["c00b7313.f7df9","ac4c5d2c.48031"],["b941d22f.939bf8","22be1ae5.efd77e"]]},{"id":"5441ff0f.1657b8","type":"split","z":"c01397ad.945d2","name":"Multi-Messages Payload Splitter","splt":"227d","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":160,"wires":[["bfe11698.30f618"]]},{"id":"fd084d1.6584b3","type":"split","z":"c01397ad.945d2","name":"Multi-Messages Payload Splitter","splt":"227d","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":380,"wires":[["b5f006a9.178e28"]]},{"id":"21836fea.c1d9e8","type":"mqtt-broker","name":"Thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]